@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

:root {
  --sl-font: "Figtree Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --sl-font-mono: "DM Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --sl-sidebar-width: theme(width.64);
  --sl-content-width: theme(maxWidth.4xl);
}

@layer base {
  :root {
    --colors-border-default: theme(colors.zinc.200 / 60%);
  }

  [data-theme="dark"] {
    --colors-border-default: theme(colors.white / 10%);
  }
}
