---
import DemoCard from "@/components/DemoCard.astro"
import { button, checkbox, input } from "@/styles"
---

<script>
  import { normalizeProps, useAPI, useMachine } from "@tunkshif/alpine-zag"
  import { id } from "@/utils"
  import * as pinInput from "@zag-js/pin-input"
  import Alpine from "alpinejs"

  document.addEventListener("alpine:init", () => {
    Alpine.data("PinInput", (controls) => {
      const service = useMachine(Alpine, pinInput.machine({ id: id(), value: ["", "", "", ""] }), {
        context: controls
      })
      const api = useAPI(Alpine, () =>
        pinInput.connect(service.state.value, service.send, normalizeProps)
      )
      return {
        init() {
          service.start()
          api.start()
        },
        destroy() {
          api.stop()
          service.stop()
        },
        get api() {
          return api.value
        }
      }
    })
  })
</script>

<DemoCard
  name="pin-input"
  file="PinInput"
  title="Pin Input"
  controls={{ disabled: false, mask: false, blurOnComplete: true }}
>
  <div slot="content" x-cloak x-data="PinInput(controls)" class="flex flex-col gap-4">
    <div x-props="api.rootProps" class="flex gap-2 disabled:opacity-60">
      <template x-for="i in [0, 1, 2, 3]">
        <input
          x-props="api.getInputProps({ index: i })"
          class={input("inline-flex justify-center items-center w-10 h-10 text-center")}
        />
      </template>
    </div>
    <div>
      <button x-on:click="api.clearValue" class={button()}>Clear</button>
    </div>
  </div>

  <div slot="control" class="w-full flex flex-col gap-2">
    <label class="flex justify-between items-center text-sm">
      <span>Disabled</span>
      <input type="checkbox" x-model="controls.disabled" class={checkbox()} />
    </label>
    <label class="flex justify-between items-center text-sm">
      <span>Mask</span>
      <input type="checkbox" x-model="controls.mask" class={checkbox("px-2 py-1")} />
    </label>
    <label class="flex justify-between items-center text-sm">
      <span>Blur On Complete</span>
      <input type="checkbox" x-model="controls.blurOnComplete" class={checkbox("px-2 py-1")} />
    </label>
  </div>
</DemoCard>
