---
import DemoCard from "@/components/DemoCard.astro"
import XIcon from "@/components/icons/XIcon.astro"
import { button } from "@/styles"
---

<script>
  import { normalizeProps, useAPI, useActor, useMachine } from "@tunkshif/alpine-zag"
  import { id } from "@/utils"
  import * as toast from "@zag-js/toast"
  import Alpine from "alpinejs"

  document.addEventListener("alpine:init", () => {
    Alpine.data("Toast", (actor: any) => {
      const service = useActor(Alpine, actor)
      const api = useAPI(Alpine, () =>
        toast.connect(service.state.value as any, service.send, normalizeProps)
      )
      return {
        init() {
          api.start()
        },
        destroy() {
          api.stop()
          service.stop()
        },
        get api() {
          return api.value
        }
      }
    })

    Alpine.store("toast", {})
    Alpine.data("ToastGroup", (controls) => {
      const service = useMachine(
        Alpine,
        toast.group.machine({
          id: id(),
          overlap: true,
          offsets: "8px",
          removeDelay: 200,
          placement: "top"
        }),
        { context: controls }
      )
      const api = useAPI(Alpine, () =>
        toast.group.connect(service.state.value, service.send, normalizeProps)
      )
      return {
        init() {
          service.start()
          api.start()
          this.$store.toast.api = api.value
        },
        destroy() {
          api.stop()
          service.stop()
        },
        get api() {
          return api.value
        }
      }
    })
  })
</script>

<DemoCard name="toast" file="Toast" title="Toast">
  <div slot="content" x-data="ToastGroup">
    <div>
      <button
        type="button"
        x-on:click="api.create({ title: 'Notification', description: 'The quick brown fox jumps over the lazy dog.' })"
        class={button()}>Toast</button
      >
    </div>

    <template x-teleport="body">
      <template x-for="placement in api.getPlacements()" x-bind:key="placement">
        <ul x-props="api.getGroupProps({ placement })">
          <template x-for="toast in api.getToastsByPlacement(placement)" x-bind:key="toast.id">
            <li x-data="{ actor: toast}" class="contents">
              <div x-data="Toast(actor)" x-props="api.rootProps">
                <h3 x-props="api.titleProps" x-text="api.title" class="font-medium text-sm mb-2">
                </h3>
                <p
                  x-props="api.descriptionProps"
                  x-text="api.description"
                  class="text-slate-500 text-xs"
                >
                </p>
                <button
                  x-on:click="api.dismiss"
                  class="absolute p-1 top-2.5 right-2.5 hover:bg-slate-200/60 text-slate-500 rounded-md"
                >
                  <XIcon class="w-4 h-4" />
                </button>
              </div>
            </li>
          </template>
        </ul>
      </template>
    </template>
  </div>
</DemoCard>

<style>
  [data-part="root"] {
    @apply min-w-80 bg-white border border-slate-200/40 p-4 rounded-md shadow-md;
    overflow-wrap: anywhere;
    translate: var(--x) var(--y);
    scale: var(--scale);
    z-index: var(--z-index);
    height: var(--height);
    opacity: var(--opacity);
    will-change: translate, opacity, scale;
    transition:
      translate 400ms,
      scale 400ms,
      opacity 400ms;
    transition-timing-function: cubic-bezier(0.21, 1.02, 0.73, 1);
  }

  [data-part="root"][data-state="closed"] {
    transition:
      translate 400ms,
      scale 400ms,
      opacity 200ms;
    transition-timing-function: cubic-bezier(0.06, 0.71, 0.55, 1);
  }
</style>
