---
import Accordion from "./demo/Accordion.astro"
import Clipboard from "./demo/Clipboard.astro"
import Dialog from "./demo/Dialog.astro"
---

<div class="flex flex-col gap-6">
  <Accordion />
  <Clipboard />
  <Dialog />
</div>
