---
import Accordion from "@/components/demo/Accordion.astro"
import Clipboard from "@/components/demo/Clipboard.astro"
import Combobox from "@/components/demo/Combobox.astro"
import Dialog from "@/components/demo/Dialog.astro"
import ContextMenu from "@/components/demo/ContextMenu.astro"
import PinInput from "@/components/demo/PinInput.astro"
---

<div class="flex flex-col gap-6">
  <Accordion />
  <Clipboard />
  <Dialog />
  <Combobox />
  <ContextMenu />
  <PinInput />
</div>
