---
import XIcon from "@/components/icons/XIcon.astro"
---

<div
  x-component={`
    [
      "Popover",
      { positioning: { shift: true } }
    ]
`}
>
  <div x-props="api.triggerProps" class="flex">
    <slot name="trigger" />
  </div>
  <div x-props="api.positionerProps">
    <div x-cloak x-props="api.contentProps">
      <h3 class="font-medium mb-2">
        <slot name="title" />
      </h3>
      <slot name="content" />
      <button type="button" x-props="api.closeTriggerProps">
        <XIcon class="w-4 h-4" />
      </button>
    </div>
  </div>
</div>

<style>
  [data-part="content"] {
    @apply relative z-[1400] min-w-64 bg-white border border-slate-200/40 p-4 rounded-md shadow-md;
  }

  [data-part="content"][data-state="open"] {
    animation: fade-in 200ms ease-in-out;
  }

  [data-part="close-trigger"] {
    @apply absolute p-1 top-2.5 right-2.5 hover:bg-slate-200/60 text-slate-500 rounded-md;
  }
</style>
