---

---

<div x-component="['Tooltip', { openDelay: 500, closeDelay: 250 }]">
  <div x-props="api.triggerProps" class="flex">
    <slot name="trigger" data-test />
  </div>
  <div x-cloak x-show="api.isOpen" x-props="api.positionerProps">
    <div x-props="api.contentProps">
      <slot name="content" />
    </div>
  </div>
</div>

<style>
  [data-part="content"] {
    @apply relative z-[1500] bg-slate-50 px-2.5 py-2 font-medium text-sm rounded-md shadow-md;
  }

  [data-part="content"][data-state="open"] {
    animation: fade-in 250ms ease-in-out;
  }
</style>
