---

---

<script>
  import { normalizeProps, useAPI, useMachine } from "@tunkshif/alpine-zag"
  import * as tooltip from "@zag-js/tooltip"
  import { id } from "@/utils"
  import Alpine from "alpinejs"

  document.addEventListener("alpine:init", () => {
    Alpine.data("Tooltip", () => {
      const service = useMachine(
        Alpine,
        tooltip.machine({ id: id(), openDelay: 500, closeDelay: 200 })
      )
      const api = useAPI(Alpine, () =>
        tooltip.connect(service.state.value, service.send, normalizeProps)
      )
      return {
        init() {
          service.start()
          api.start()
        },
        destroy() {
          api.stop()
          service.stop()
        },
        get api() {
          return api.value
        }
      }
    })
  })
</script>

<div x-data="Tooltip">
  <div x-props="api.triggerProps" class="flex">
    <slot name="trigger" data-test />
  </div>
  <div x-cloak x-show="api.isOpen" x-props="api.positionerProps">
    <div x-props="api.contentProps">
      <slot name="content" />
    </div>
  </div>
</div>

<style>
  [data-part="content"] {
    @apply relative z-[1500] bg-slate-50 px-2.5 py-2 font-medium text-sm rounded-md shadow-md;
  }

  [data-part="content"][data-state="open"] {
    animation: fade-in 250ms ease-in-out;
  }
</style>
