---
import { readFile } from "node:fs/promises"
import { Code } from "@astrojs/starlight/components"

interface Props {
  name: string
  file: string
}

const code = await readFile(`./src/components/demos/${Astro.props.file}.astro`, {
  encoding: "utf-8"
})
---

<div class="not-content" x-data="{ code: false }">
  <div class="flex flex-col border border-default rounded-md overflow-hidden">
    <div
      data-part="display"
      class="grid place-items-center p-8 md:p-16 min-h-80 bg-gray-50 dark:bg-zinc-900"
    >
      <slot />
    </div>

    <div
      class="flex justify-between px-2 py-1.5 border-t border-default"
      :class="code && 'border-b'"
    >
      <a
        class="inline-flex items-center gap-1.5 px-2.5 py-1.5 text-sm font-medium rounded-md no-underline hover:bg-zinc-100 dark:hover:bg-zinc-800 cursor-pointer visited:text-inherit"
        href={`https://zagjs.com/components/react/${Astro.props.name}`}
        target="_blank"
      >
        <i class="i-lucide-zap w-4 h-4"></i>
        Zag.js Reference
      </a>
      <button
        type="button"
        @click="code = !code"
        class="bg-transparent px-2.5 py-1.5 text-sm font-medium rounded-md hover:bg-zinc-100 dark:hover:bg-zinc-800 cursor-pointer"
        >Show Code</button
      >
    </div>

    <div x-cloak x-show="code" class="max-h-[580px] overflow-auto">
      <Code code={code} lang="astro" />
    </div>
  </div>
</div>

<style>
  [data-part="display"] {
    background-size: 20px 20px;
    background-position: -19px -19px;
    background-image: radial-gradient(theme(colors.gray.200) 1px, transparent 0);
  }

  [data-part="display"]:is([data-theme="dark"] *) {
    background-image: radial-gradient(theme(colors.gray.600) 1px, transparent 0);
  }
</style>
